In [1]:
import pandas as pd

import re

In [2]:
df = pd.read_csv('../data/raw/Shakespeare_data.csv')

In [3]:
df.head(10)

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,Henry IV,NaN,NaN,NaN,ACT I
1,2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"
5,6,Henry IV,1.0,1.1.3,KING HENRY IV,And breathe short-winded accents of new broils
6,7,Henry IV,1.0,1.1.4,KING HENRY IV,To be commenced in strands afar remote.
7,8,Henry IV,1.0,1.1.5,KING HENRY IV,No more the thirsty entrance of this soil
8,9,Henry IV,1.0,1.1.6,KING HENRY IV,Shall daub her lips with her own children's bl...
9,10,Henry IV,1.0,1.1.7,KING HENRY IV,"Nor more shall trenching war channel her fields,"

### Remove the lines which are not spoken by any players

In [4]:
# Set the lines denoting entry and exit of players to nan, so that it can be removed when dropna is called
df.loc[(df['PlayerLine'].str.startswith('Exeunt')) | (df['PlayerLine'].str.startswith('Exit')) | (df['PlayerLine'].str.startswith('Enter ')) | (df['PlayerLine'].str.startswith('Re-enter')) | df['PlayerLine'].str.contains(r'[A-Z]{2,}') ] = pd.np.nan
df = df.dropna(subset=['Player'])

In [5]:
df.shape[0]

105312

In [6]:
plays = df['Play'].unique()

In [7]:
play_df = df[df['Play']=='Henry IV']

In [9]:
# lines = play_df.groupby('PlayerLinenumber')['PlayerLine'].sum().tolist()
lines = play_df.groupby('PlayerLinenumber')['PlayerLine'].apply(lambda x: "%s" % '\n '.join(x)).tolist()

# lines = list(map(lambda x : re.sub(r'(\S)([A-Z])', r'\1\n\2', x), lines))
play_lines = "\n*******************\n".join(lines)

In [21]:
all_lines = []
for play in plays:
    # For each play
    play_df = df[df['Play']==play]
    # join the lines which have the sameline number (adding new line characters)
    lines = play_df.groupby('PlayerLinenumber')['PlayerLine'].apply(lambda x: "%s" % '\n '.join(x)).tolist()
    play_lines = "\n***\n".join(lines)
    all_lines.append(play_lines)

In [22]:
!ls ../data/processed

all-lines.txt

Save the processed data to a file.

In [23]:
with open('../data/processed/all-lines.txt', 'w') as f:
    f.write('\n******\n'.join(all_lines))